*{
	margin: 0;
	padding: 0;

}                   

section{
	text-align:center;
	background-color: rgb(255, 230, 0);
	width: 400px;
	box-shadow: 2px 2px 10px black;
	margin: auto;
	margin-top: 10vh;
	margin-bottom: 10vh;
	padding-bottom: 30px;
}

.display{
	width:80%; 
	height: 40px;  
	margin-bottom: 50px;
	margin-top: 30px;  
	color: white;                                                                                                                                                                        
	background-color: black;
	border: none;
	border-radius: 10px;
	font-weight: bold;
	font-size: 26px;
	padding: 10px;
	text-align: right;
}

.display:focus{
	box-shadow: 0 0 0 0;
	outline: 0;
}

.teclado{
	margin: auto;
	padding: 0;
	padding-bottom: 0;
	background-color: black;
	width: 212px;
	
}

.numeros{
	color: white;
	font-weight: bold;
	font-size: 26px;
	background-color: black;
	width: 50px;
	height: 50px;
	border: none;	
}

.numeros:hover{
	color: black;
	background-color: white;
	cursor: pointer;
}
.numeros:active{
	color: white;
	background-color: black;
	border: none;
}


.conta{
	color: white;
	font-weight: bold;
	font-size: 26px;
	background-color: black;
	width: 50px;
	height: 50px;
	border: none;
}

.conta:hover{
	color: black;
	background-color: white;
	cursor: pointer;
}

.conta:active{
	color: white;
	background-color: black;
	border: none;
}

#zero{
	width: 158px;
}
.limpar{
	color: white;
	font-weight: bold;
	font-size: 26px;
	background-color: black;
	width: 104px;
	height: 50px;
	border: none;
}

.limpar:hover{
	color: black;
	background-color: white;
	cursor: pointer;
}
.limpar:active{
	color: white;
	background-color: black;
	border: none;
}

.linha{
	display: block;
	
}



